/* general css */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

p {
    margin-top: 20px;
    width: 90%;
    margin-inline: auto;
}